################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Baba-is-You-master/baba_is_you/.vs/baba_is_you/v16/Server/sqlite3/db.lock
